/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 10px;
  vertical-align: baseline (default);
}

.btn-xl {
  width: 50px;
  height: 50px;
  border-radius: 35px;
  text-align: center;
  font-size: 24px;
  line-height: 1.33;
}

.center{
    text-align: center;
}

